<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="garmin_18x" params="name parent_link *origin">
    <link name="${name}_link">
      <visual>
        <material name="clearpath_black"/>
        <geometry>
          <cylinder radius="0.0305" length="0.0195" />
        </geometry>
      </visual>
      <collision>
        <material name="clearpath_black"/>
        <geometry>
          <cylinder radius="0.0305" length="0.0195" />
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <child link="${name}_link"/>
      <parent link="${parent_link}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="navsat">
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <ignition_frame_id>${name}_link</ignition_frame_id>
        <topic>$(arg namespace)/sensors/${name}/navsat</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
