<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="novatel_smart6" params="name parent_link *origin">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/novatel_smart6.stl"/>
        </geometry>
        <material name="clearpath_novatel_white">
          <color rgba="0.8 0.8 0.8 1.0" />
        </material>
      </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
      <child link="${name}_link"/>
      <parent link="${parent_link}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="navsat">
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <ignition_frame_id>${name}_link</ignition_frame_id>
        <topic>$(arg namespace)/sensors/${name}/navsat</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
