<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="sick_lms1xx" params="name parent_link *origin
                                          ang_res:=0.5 min_ang:=-2.35619 max_ang:=2.35619
                                          update_rate:=50 min_range:=0.05 max_range:=25.0">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/sick_lms1xx_small.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/sick_lms1xx_collision.stl" />
        </geometry>
      </collision>
    </link>

    <link name="${name}_laser"/>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin"/>
    </joint>

    <joint name="${name}_laser_joint" type="fixed">
      <parent link="${name}_link" />
      <child link="${name}_laser" />
      <origin rpy="0 0 0" xyz="0.0549 0 0.0367"/>
    </joint>

    <xacro:property name="samples" value="${round((max_ang - min_ang) * 180 / (ang_res * pi))}"/>

    <gazebo reference="${name}_laser">
      <sensor name="${name}" type="gpu_lidar">
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <always_on>true</always_on>
        <topic>$(arg namespace)/sensors/${name}/scan</topic>
        <ignition_frame_id>${name}_laser</ignition_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_ang}</min_angle>
              <max_angle>${max_ang}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </lidar>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
