<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
  <xacro:macro name="velodyne_lidar" params="name parent_link *origin
                                             ang_res_h:=0.4 min_ang_h:=-3.141592 max_ang_h:=3.141592
                                             ang_res_v:=2.0 min_ang_v:=-0.261799 max_ang_v:=0.261799
                                             update_rate:=20 min_range:=0.9 max_range:=130.0">
    <link name="${name}_link">
      <inertial>
        <mass value="0.83"/>
        <origin xyz="0 0 0.03585"/>
        <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}"
                 ixy="0"
                 ixz="0"
                 iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}"
                 iyz="0"
                 izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP16_base_1.dae"/>
        </geometry>
      </visual>
      <visual>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP16_base_2.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.03585"/>
        <geometry>
          <cylinder radius="0.0516" length="0.0717"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_laser">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
      <visual>
        <origin xyz="0 0 -0.0377"/>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP16_scan.dae"/>
        </geometry>
      </visual>
    </link>

    <joint name="${name}_laser_joint" type="fixed">
      <origin xyz="0 0 0.0377" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_laser"/>
    </joint>

    <xacro:property name="samples_h" value="${round((max_ang_h - min_ang_h) * 180 / (ang_res_h * pi))}"/>
    <xacro:property name="samples_v" value="${round((max_ang_v - min_ang_v) * 180 / (ang_res_v * pi))}"/>

    <gazebo reference="${name}_laser">
      <sensor name="${name}" type="gpu_lidar">
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <always_on>true</always_on>
        <ignition_frame_id>${name}_laser</ignition_frame_id>
        <topic>$(arg namespace)/sensors/${name}/scan</topic>
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples_h}</samples>
              <resolution>1</resolution>
              <min_angle>${min_ang_h}</min_angle>
              <max_angle>${max_ang_h}</max_angle>
            </horizontal>
            <vertical>
              <samples>${samples_v}</samples>
              <resolution>1</resolution>
              <min_angle>${min_ang_v}</min_angle>
              <max_angle>${max_ang_v}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </lidar>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
