<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="disk" params="name parent_link *origin">
    <link name="${name}_link">
      <visual>
        <material name="clearpath_dark_grey"/>
        <geometry>
          <mesh filename="package://clearpath_mounts_description/meshes/disk.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <box size="0.104 0.142 0.006" />
        </geometry>
        <origin xyz="0 0 0.003" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${name}_mount" />

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <joint name="${name}_mount_joint" type="fixed">
      <parent link="${name}_link" />
      <child link="${name}_mount" />
      <origin xyz="0 0 0.006" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
