<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="fath_pivot" params="name parent_link angle:=0.0 *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://clearpath_mounts_description/meshes/fath_pivot_mount_base.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
      </visual>
      <collision>
        <geometry>
          <box size="0.025 0.025 0.03" />
        </geometry>
        <origin xyz="0 0 0.015" rpy="0 0 0" />
      </collision>
      <collision>
        <geometry>
          <cylinder radius="0.04" length="0.03" />
        </geometry>
        <origin xyz="0 -0.035 0.0225" rpy="${pi/2} 0 0" />
      </collision>
    </link>

    <link name="${name}_hinge_link">
      <visual>
        <geometry>
          <mesh filename="package://clearpath_mounts_description/meshes/fath_pivot_mount.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
      </visual>
      <collision>
        <geometry>
          <box size="0.025 0.025 0.03" />
        </geometry>
        <origin xyz="0 0 0.015" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${name}_mount" />

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <joint name="${name}_hinge_joint" type="fixed">
      <parent link="${name}_link" />
      <child link="${name}_hinge_link" />
      <origin xyz="0 0 0.0225" rpy="0 ${angle} 0" />
    </joint>

    <joint name="${name}_mount_joint" type="fixed">
      <parent link="${name}_hinge_link" />
      <child link="${name}_mount" />
      <origin xyz="0 0 0.0225" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>