<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_2f_140_group_state" params="name group_state joint_positions">
    <group_state name="${group_state}" group="${name}">
      <joint name="${name}_finger_joint" value="${joint_positions[0]}"/>
    </group_state>
  </xacro:macro>

  <xacro:macro name="robotiq_2f_140" params="name">
    <group name="${name}">
        <joint name="${name}_finger_joint"/>
        <joint name="${name}_left_inner_knuckle_joint"/>
        <joint name="${name}_left_inner_finger_joint"/>
        <joint name="${name}_right_outer_knuckle_joint"/>
        <joint name="${name}_right_inner_knuckle_joint"/>
        <joint name="${name}_right_inner_finger_joint"/>
    </group>

    <xacro:robotiq_2f_140_group_state
      name="${name}"
      group_state="open"
      joint_positions="${[0.0]}"
    />

    <xacro:robotiq_2f_140_group_state
      name="${name}"
      group_state="close"
      joint_positions="${[0.7]}"
    />

    <disable_collisions link1="${name}_left_inner_knuckle" link2="${name}_left_inner_finger" reason="User"/>
    <disable_collisions link1="${name}_right_inner_knuckle" link2="${name}_right_inner_finger" reason="User"/>
    <disable_collisions link1="${name}_left_outer_knuckle" link2="${name}_left_inner_knuckle" reason="User"/>
    <disable_collisions link1="${name}_right_outer_knuckle" link2="${name}_right_inner_knuckle" reason="User"/>
  </xacro:macro>
</robot>
