<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="box" params="
    name
    parent_link
    size
    material_name
    material_color:=''
    material_texture:=''
    *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="${size}"/>
        </geometry>
        <xacro:clearpath_material
          name="${material_name}"
          color_rgba="${material_color}"
          texture_file="${material_texture}"
        />
      </visual>
      <collision>
        <geometry>
          <box size="${size}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>
