<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="frame" params="name parent_link *origin">
    <link name="${name}_link"/>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>
