<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="kinova_gen3_6dof_group_state" params="name group_state joint_positions">
    <group_state name="${group_state}" group="${name}">
      <joint name="${name}_joint_1" value="${joint_positions[0]}"/>
      <joint name="${name}_joint_2" value="${joint_positions[1]}"/>
      <joint name="${name}_joint_3" value="${joint_positions[2]}"/>
      <joint name="${name}_joint_4" value="${joint_positions[3]}"/>
      <joint name="${name}_joint_5" value="${joint_positions[4]}"/>
      <joint name="${name}_joint_6" value="${joint_positions[5]}"/>
    </group_state>
  </xacro:macro>

  <xacro:macro name="kinova_gen3_6dof" params="name">
    <group name="${name}">
        <joint name="${name}_joint_1"/>
        <joint name="${name}_joint_2"/>
        <joint name="${name}_joint_3"/>
        <joint name="${name}_joint_4"/>
        <joint name="${name}_joint_5"/>
        <joint name="${name}_joint_6"/>
    </group>

    <xacro:kinova_gen3_6dof_group_state
      name="${name}"
      group_state="home"
      joint_positions="${[0.0174, -0.5725, -0.9846, 0.1562, -1.0719, -1.7183]}"
    />

    <xacro:kinova_gen3_6dof_group_state
      name="${name}"
      group_state="zero"
      joint_positions="${[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}"
    />

  </xacro:macro>
</robot>
