<launch>
  <arg name="robot_name" default="rb_0" />
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_a" default="0" />

  <arg name="map_file" default="$(find ridgeback_navigation)/maps/rgmap0217.yaml" />

  <group ns="$(arg robot_name)">
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find ridgeback_navigation)/multi_launch/include/multi_amcl.launch">
      <arg name="scan_topic" value="scan_full_filtered" />
      <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg initial_pose_x)" />
      <arg name="initial_pose_a" value="$(arg initial_pose_x)" />
      <arg name="odom_frame_id" value="$(arg robot_name)/odom" />
      <arg name="base_frame_id" value="$(arg robot_name)/base_link" />
    </include>

    <!--- Run Move Base -->
    <include file="$(find ridgeback_navigation)/multi_launch/include/multi_move_base.launch">
      <arg name="params_file_name" value="$(arg robot_name)" />
    </include>
  </group>

</launch>