<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="bumper" params="name model:='default' parent_link:='front_bumper_mount' extension:=0 *origin">
        <!-- Spawn bumper link -->
        <link name="${name}_link">
            <visual>
                <geometry>
                    <mesh filename="package://clearpath_platform_description/meshes/a200/attachments/bumper.dae" />
                </geometry>
            </visual>
        </link>

        <xacro:unless value="${extension > 0}">
            <link name="${name}_base_link"/>
            <joint name="${name}_base_joint" type="fixed">
                <xacro:insert_block name="origin"/>
                <parent link="${parent_link}"/>
                <child link="${name}_base_link"/>
            </joint>
            <!-- Attach bumper -->
            <joint name="${name}_joint" type="fixed">
                <origin xyz="0.075 0 0" rpy="0 0 0" />
                <parent link="${name}_base_link" />
                <child link="${name}_link" />
            </joint>
        </xacro:unless>

        <xacro:if value="${extension > 0}">
            <link name="${name}_extension_link_1">
                <visual>
                    <geometry>
                        <cylinder radius="0.0095" length="${extension}" />
                    </geometry>
                    <material name="clearpath_dark_grey" />
                    <origin xyz="${extension / 2} 0 0" rpy="0 ${M_PI/2} 0" />
                </visual>
            </link>

            <link name="${name}_extension_link_2">
                <visual>
                    <geometry>
                        <cylinder radius="0.0095" length="${extension}" />
                    </geometry>
                    <material name="clearpath_dark_grey" />
                    <origin xyz="${extension / 2} 0 0" rpy="0 ${M_PI/2} 0" />
                </visual>
            </link>

            <link name="${name}_base_link"/>
            <link name="${name}_extension_mount"/>

            <joint name="${name}_base_joint" type="fixed">
                <xacro:insert_block name="origin"/>
                <parent link="${parent_link}"/>
                <child link="${name}_base_link"/>
            </joint>

            <joint name="${name}_extension_joint_1" type="fixed">
                <origin xyz="0 0.1084 0" rpy="0 0 0" />
                <parent link="${name}_base_link" />
                <child link="${name}_extension_link_1" />
            </joint>

            <joint name="${name}_extension_joint_2" type="fixed">
                <origin xyz="0 -0.1084 0" rpy="0 0 0" />
                <parent link="${name}_base_link" />
                <child link="${name}_extension_link_2" />
            </joint>

            <joint name="${name}_extension_mount_joint" type="fixed">
                <origin xyz="${extension} 0 0" rpy="0 0 0" />
                <parent link="${name}_base_link" />
                <child link="${name}_extension_mount" />
            </joint>

            <!-- Attach bumper -->
            <joint name="${name}_joint" type="fixed">
                <origin xyz="0.075 0 0" rpy="0 0 0" />
                <parent link="${name}_extension_mount" />
                <child link="${name}_link" />
            </joint>
        </xacro:if>

    </xacro:macro>
</robot>
