<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="top_plate" params="name:=ark_enclosure model:=default parent_link:=default_mount *origin">
      <xacro:if value="${model == 'ark_enclosure'}">
         <link name="${name}_link">
          <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <mesh filename="package://clearpath_platform_description/meshes/j100/attachments/ark_enclosure.stl"/>
            </geometry>
            <material name="clearpath_dark_grey" />
          </visual>
        </link>
        <joint name="${name}_joint" type="fixed">
          <parent link="${parent_link}" />
          <child link="${name}_link" />
          <xacro:insert_block name="origin"/>
        </joint>
      </xacro:if>
    </xacro:macro>
</robot>
