<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="box_inertia" params="m x y z">
    <inertia ixx="${m*(y*y+z*z)/12}" ixy="0" ixz="0"
             iyy="${m*(x*x+z*z)/12}" iyz="0"
             izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>

  <xacro:macro name="arm_plate" params="name:=arm_plate model:=default parent_link:=default_mount *origin">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://clearpath_platform_description/meshes/w200/arm-mount-plate.stl" />
        </geometry>
        <material name="clearpath_light_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://clearpath_platform_description/meshes/w200/arm-mount-plate.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 -0.01" rpy="0 0 0"/>
        <mass value="1.45"/>
        <xacro:box_inertia m="1.45" x="0.16838" y="0.16838" z="0.02" />
      </inertial>
    </link>
    <joint name="${name}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${name}_link" />
    </joint>
    <link name="${name}_mount"/>
    <joint name="${name}_mount_joint" type="fixed">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_mount"/>
    </joint>
  </xacro:macro>
</robot>
